PORT=3000
DATABASE_URL=mysql://[USER]:[PASSWORD]@localhost:3306/authenticate
DATABASE_HOST=localhost
DATABASE_USER=[USER]
DATABASE_PASSWORD=[PASSWORD]
DATABASE_NAME=authenticate
DATABASE_PORT=3306
JWT_SECRET="sangat_secret"